body {
    background-color: black;
}

h1 {
    text-transform: uppercase;
    font-size: 3rem;
}

.poster {
    color: white;
    width: 50%;
    margin-left: 25%;
    margin-top: 100px;
    text-align: center;
    font-family: "Libre Baskerville", serif;
    font-optical-sizing: auto;
    font-weight: <weight>;
    font-style: normal;
}

.motivation-img {
    border: 10px solid white;
    width: 100%;
}